@font-face {
    font-family: "Mulish", sans-serif;
    src: url("./static/fonts/Mulish.ttf") format("truetype");
    font-display: swap;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #fff;
    scrollbar-width: none;
}

body::-webkit-scrollbar { 
    display: none;
}

.header {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(87px);
    padding: 12px 0;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 5%;
    width: 100%;
    max-width: 1440px;
}

.header__menu {
    width: 52px;
    height: 56px;
    cursor: pointer;
    background: url("./static/images/burger_menu.svg");
    outline: none;
    background-position: center;
    border: none;
}

.navigation {
    display: none;
    position: fixed;
    left: 0;
    top: 80px;
    z-index: 2;
    width: 100%;
    height: calc(100vh - 80px);
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(87px);
}

.navigation__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    max-width: 1440px;
    margin: 0 5%;
}

.show {
    display: flex;
    justify-content: center;
}

.scroll-disabled {
    overflow: hidden;
}

.close {
    background: url("./static/images/burger_menu_close.svg");
    background-size: cover;
}

.navigation__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    list-style-type: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    cursor: pointer;
}

.navigation__item:last-child {
    border-bottom: none;
}

.navigation__item__label {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 144%;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    background: url("./static/images/label.svg");
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 500% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.navigation__item__arrow {
    width: 174px;
    height: 74px;
}

.intro {
    display: flex;
    justify-content: center;
    width: 100%;
    background: white;
    background-image: url("./static/images/home/intro_section.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.intro__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 110px 5%;
    width: 100%;
    max-width: 1440px;
}

.intro__images__title {
    width: 586px;
    height: 182px;
    margin-left: -50px;
}

.intro__info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 760px;
    width: 100%;
    margin-top: 30px;
    font-family: "Mulish", sans-serif;
    color: #000000;
}

.intro__image {
    display: none;
}

.intro__title {
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 144%;
}

.intro__description {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 144%;
}

.about {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #FBEAD2;
    background-image: url("./static/images/home/about_section.svg");
    background-repeat: no-repeat;
    background-position: 100% -200%;
}

.about__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 32px 5% 130px;
    width: 100%;
    max-width: 1440px;
}

.about__description {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 144%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
}

.about__image {
    margin: 0 auto 0 0;
}

.security {
    display: flex;
    justify-content: center;
    width: 100%;
    background: white;
    background-image: url("./static/images/home/security_section.svg");
    background-repeat: no-repeat;
    background-position: 0 2.5%;
}

.security__image {
    display: none;
}

.security__wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    margin: 130px 5% 160px;
    width: 100%;
    max-width: 1440px;
}

.security__title {
    max-width: 832px;
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    text-align: left;
    line-height: 144%;
    letter-spacing: 0.03em;
    color: #000000;
}

.security__description {
    max-width: 832px;
    font-family: "Mulish", sans-serif;
    font-style: normal;
    text-align: right;
    font-weight: 400;
    font-size: 28px;
    line-height: 144%;
    letter-spacing: 0.03em;
    color: #000000;
}

.privacy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px 0;
    background: #FBEAD2;
}

.privacy__wrapper {
    display: flex;
    margin: 130px 5%;
    width: 100%;
    max-width: 1440px;
}

.privacy__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 25px;
    height: 517px;
}

.privacy__title {
    max-width: 802px;
    font-family: "Mulish", sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 54px;
    line-height: 114%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.privacy__description {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 144%;
    letter-spacing: 0.03em;
    color: #000000;
}

.privacy__image__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.privacy__image {
    width: 517px;
    height: 538px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 90px 5%;
    width: 100%;
    max-width: 1440px;
}

.footer__image {
    height: 158px;
    width: 212px;
}

.footer__links {
    width: 465px;
    display: flex;
    justify-content: space-between;
}

.footer__links__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    list-style-type: none;
}

.footer__links__list__item {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 144%;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 820px) {

    .header__wrapper {
        max-width: 820px;
    }

    .navigation__wrapper {
        max-width: 820px;
    }

    .navigation__item {
        padding: 10px 0;
    }

    .navigation__item__label {
        font-size: 26px;
    }

    .navigation__item__arrow {
        width: 84px;
        height: 36px;
    }

    .intro {
        flex-direction: column;
        background-image: none;
        background-size: unset;
        background-repeat: unset;
        background-position: unset;
    }

    .intro__wrapper {
        max-width: 820px;
        margin: 30px 5% 60px;
        width: 90%;
    }

    .intro__images__title {
        display: none;
    }

    .intro__info {
        margin-top: unset;
        max-width: unset;
        align-items: flex-start;
    }
    
    .intro__title,
    .intro__description {
        font-size: 18px;
    }

    .intro__image {
        display: block;
        width: 100%;
    }

    .about {
        background-position: 100% 250%;
    }

    .about__wrapper {
        max-width: 820px;
    }

    .about__image {
        left: 0;
    }

    .about__description {
        font-size: 28px;
    }

    .security {
        flex-direction: column;
        background-image: none;
        background-repeat: unset;
        background-position: unset;
    }

    .security__image {
        display: block;
    }

    .security__wrapper {
        align-items: flex-start;
        max-width: 820px;
        margin: 30px 5% 60px;
        width: 90%;
    }

    .security__title,
    .security__description {
        max-width: unset;
        font-size: 18px;
        text-align: left;
    }

    .privacy__wrapper {
        flex-direction: column;
        margin: 60px 5%;
        max-width: 820px;
    }

    .privacy__info {
        height: 100%;
    }

    .privacy__title {
        max-width: unset;
        font-size: 32px;
    }

    .privacy__description {
        font-size: 18px;
    }

    .privacy__image {
        width: 90%;
        height: 90%;
    }

    .footer__wrapper {
        max-width: unset;
    }

    .footer__image__wrapper {
        display: none;
    }

    .footer__links {
        width: 100%;
    }
}
