body {
    background-image: url("./static/images/home/main_background.png");
    background-size: 100% 100%;
}

.header {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.header__wrapper {
    display: flex;
    width: 100%;
    max-width: 1600px;
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.header__content {
    margin: 12px 150px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.header__menu {
    width: 52px;
    height: 56px;
    cursor: pointer;
    background: url("./static/images/burger_menu.svg");
    outline: none;
    background-position: center;
    border: none;
}

.navigation {
    display: none;
    position: fixed;
    left: 0;
    top: 80px;
    z-index: 2;
    width: 100%;
    height: calc(100vh - 80px);
}

.navigation__wrapper {
    width: 100%;
    max-width: 1600px;
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(87px);
    -webkit-backdrop-filter: blur(87px);
}

.navigation__content {
    margin: 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.show {
    display: flex;
    justify-content: center;
}

.scroll-disabled {
    overflow: hidden;
}

.close {
    background: url("./static/images/burger_menu_close.svg");
    background-size: cover;
}

.navigation__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 1.5%;
    list-style-type: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    cursor: pointer;
}

.navigation__item:last-child {
    border-bottom: none;
}

.navigation__item__label {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 144%;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    background: url("./static/images/label.svg");
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 500% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.navigation__item:first-child {
    cursor: not-allowed;
}

.navigation__item:first-child .navigation__item__label {
    opacity: 0.5;
}

.navigation__item__arrow {
    width: 174px;
    height: 74px;
}

.intro {
    display: flex;
    justify-content: center;
    width: 100%;
}

.intro__wrapper {
    display: flex;
    width: 100%;
    max-width: 1600px;
    background: white;
    overflow: hidden;
}

.intro__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    margin: 0 0 0 150px;
    width: 100%;
}

.intro__images {
    position: absolute;
    top: 60px;
    display: flex;
    gap: 50px;
}

.intro__info {
    font-family: "Mulish", sans-serif;
    color: #000000;
}

.intro__image,
.intro__cloud-image {
    display: none;
}

.intro__title {
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
    line-height: 144%;
    margin-top: 335px;
}

.intro__description {
    height: 100%;
    display: block;
    margin-top: 25px;
}

.intro__description span,
.intro__description div {
    display: block;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.01em;
    word-spacing: normal;
    font-size: 27px;
    line-height: 40px;
}

.intro__description span {
    display: none;
}

.intro__main-image {
    height: 100%;
    float: right;
    shape-outside: url("./static/images/home/intro_section.svg");
    shape-margin: 10px;
}

.about {
    display: flex;
    justify-content: center;
    width: 100%;
}

.about__wrapper {
    width: 100%;
    max-width: 1600px;
    background: #FBEAD2;
}

.about__content {
    margin: 32px 0 130px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__description {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 144%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
}

.about__image {
    margin: 0 auto 0 0;
}

.security {
    display: flex;
    justify-content: center;
    width: 100%;
}

.security__image {
    display: none;
}

.security__wrapper {
    width: 100%;
    max-width: 1600px;
    background: white;
}

.security__content {
    margin: 0 150px 0 0;
    height: 632px;
}

.security__info {
    padding: 5% 0 0 0;
}

.security__main-image {
    width: 60%;
    height: 100%;
    shape-outside: url("./static/images/home/security_section.png");
    shape-margin: 5px;
    float: left;
}

.security__title {
    display: block;
    text-align: left;
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 144%;
    letter-spacing: 0.03em;
    color: #000000;
    padding: 0 0 0 40%;
    max-width: 815px;
}

.security__title b {
    font-weight: 600;
}

.security__description {
    display: block;
    margin-top: 70px;
    text-align: left;
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.03em;
    color: #000000;
}

.security__description span {
    display: none;
}

.security__description div {
    text-align: right;
    padding-right: 70px;
}

.privacy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.privacy__wrapper {
    width: 100%;
    max-width: 1600px;
    background: #FBEAD2;
}

.privacy__content {
    display: flex;
    align-items: center;
    margin: 130px 50px 130px 150px;
}

.privacy__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.privacy__title {
    max-width: 802px;
    font-family: "Mulish", sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 54px;
    line-height: 114%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.privacy__description {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 144%;
    letter-spacing: 0.03em;
    color: #000000;
}

.privacy__image__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.privacy__image {
    width: 517px;
    height: 538px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer__wrapper {
    width: 100%;
    max-width: 1600px;
    background: white;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    margin: 90px 150px;
}

.footer__image {
    height: 158px;
    width: 212px;
}

.footer__links {
    width: 465px;
    display: flex;
    justify-content: space-between;
}

.footer__links__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    list-style-type: none;
}

.footer__links__list__item {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 144%;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.footer__links__list__item a {
    color: #000;
}

@media (max-width: 1590px) {
    .intro__description span {
        display: block;
    }

    .intro__description div {
        display: none;
    }

    .security__description {
        text-align: right;
    }

    .security__description span {
        display: block;
    }

    .security__description div {
        display: none;
    }
}

@media (max-width: 1425px) {
    .intro__info {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        height: 100%;
    }

    .intro__main-image {
        float: unset;
        shape-outside: unset;
        shape-margin: unset;
    }

    .intro__info__text {
        display: flex;
        flex-direction: column;
    }

    .intro__title {
        width: 600px;
    }

    .intro__description {
        margin-bottom: 25px;
    }

    .intro__images {
        left: 0;
    }

    .security__info {
        padding: 2.5% 0 0 0;
    }
}

@media (max-width: 1350px) {
    .security__description {
        margin-top: 20px;
    }
}

@media (max-width: 1200px) {
    .security__info {
        padding: 0;
    }

    .privacy__content {
        flex-direction: column;
        margin: 130px 150px;
    }
}

@media (max-width: 1024px) {

    .header__wrapper {
        max-width: 1024px;
    }

    .header__content {
        margin: 12px 5%;
    }

    .navigation__wrapper {
        max-width: 1024px;
    }

    .navigation__content {
        margin: 0 5%;
    }

    .navigation__item {
        padding: 10px 0;
    }

    .navigation__item__label {
        font-size: 26px;
    }

    .navigation__item__arrow {
        width: 84px;
        height: 36px;
    }

    .intro {
        flex-direction: column;
    }

    .intro__main-image {
        display: none;
    }

    .intro__images {
        display: none;
    }

    .intro__images__cloud {
        position: unset;
        left: unset;
        top: unset;
        width: 80%;
    }

    .intro__info {
        padding: unset;
    }

    .intro__wrapper {
        max-width: 1024px;
    }

    .intro__content {
        margin: 30px 5% 60px;
        padding: unset;
        width: 90%;
    }

    .intro__info {
        margin-top: unset;
        max-width: unset;
        align-items: flex-start;
    }
    
    .intro__title,
    .intro__description span {
        margin: unset;
        font-size: 18px;
        width: 100%;
        line-height: 144%;
    }

    .intro__image,
    .intro__cloud-image {
        display: block;
        width: 100%;
    }

    .intro__cloud-image {
        position: absolute;
        top: -50px;
    }

    .about__wrapper {
        max-width: 1024px;
    }

    .about__content {
        padding: unset;
        flex-direction: column;
        margin: 32px 0 -100px 5%;
    }

    .about__main-image {
        margin: 0 0 0 auto;
    }

    .about__intro {
        padding: 5%;
        margin-bottom: -120px;
    }

    .about__image {
        left: 0;
    }

    .about__description {
        font-size: 28px;
    }

    .security {
        flex-direction: column;
        background-image: none;
        background-repeat: unset;
        background-position: unset;
    }

    .security__image {
        display: block;
    }

    .security__wrapper {
        max-width: 1024px;
    }
    
    .security__content {
        align-items: flex-start;
        margin: 30px 5% 60px;
        width: 90%;
        height: 100%;
    }

    .security__info {
        display: flex;
        flex-direction: column;
        gap: 18px;
        width: 100%;
    }

    .security__main-image {
        display: none;
    }

    .security__info br {
        display: none;
    }

    .security__title,
    .security__description {
        max-width: unset;
        font-size: 18px;
        text-align: left;
        line-height: 144%;
        padding: 0;
    }

    .privacy__wrapper {
        max-width: 1024px;
    }

    .privacy__content {
        flex-direction: column;
        margin: 130px 5%;
    }

    .privacy__info {
        height: 100%;
    }

    .privacy__title {
        max-width: unset;
        font-size: 32px;
    }

    .privacy__description {
        font-size: 18px;
    }

    .privacy__image {
        width: 90%;
        height: 90%;
    }

    .footer__wrapper {
        max-width: unset;
    }

    .footer__content {
        margin: 40px 5%;
    }

    .footer__image__wrapper {
        display: none;
    }

    .footer__links {
        width: 100%;
    }
}
